@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  padding: 1rem;
}

.review-card {
  background: white;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
}

.review-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #8e2ad6;
  font-size: 3em;
  width: 90px;
  height: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}